*
{
    margin: 0;
    background-color: rgb(250, 239, 225);
    color: black;
}

#seca div
{
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#secb
{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

#secc div
{
    background: url("Photos/image3.jpg");
    background-size: cover;
    min-height: 500px;
    margin: auto;
    padding: auto;
}
#seca, #secb, #secd, footer
{
    margin-top: 60px;
}

#secd
{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#secd div
{
    width: 25%;
}
#secd hr{
    width: 30px;
}
#foot1 div li
{
    list-style: none;

}
#foot1
{
    display: flex;
    justify-content: space-evenly;
}
#foot2
{
    margin-top: 20px;
    text-align: center;
}
a
{
    text-decoration: none;
    transition: .8s;
}
a:hover
{
    text-decoration: underline;
}


@media(max-width:500px)
{
    *
    {
        background-color: azure;
    }
    #foot1, #secd, #secb
    {
        display: block;
        text-align: center;
    }
    #foot1 div
    {
        width: 100%;
    }
    #secd div
    {
        width: 100%;
    }
    #secb div
    {
        width: 100%;
    }

}
